body {
  /*All backgrounds to go edge-to-edge */
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}


.app {

}

.app__nav {
  background: #13c1df;
  color: white;
  height: 3.5rem;
  padding: 1rem;
}

.app__content {
  flex-grow: 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

.top-nav__left {
  margin: 0;

  font-size: 1.2rem;
  font-weight: bold;
}

.nav-list {
  display: flex;
  margin: 0 -0.5rem;

  font-size: 1.2rem;
  font-weight: 300rem;
}

.nav-list__item {
  margin: 0 0.5rem;
}

.nav-list__link {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

.container2 {
  margin: 1rem;
}

.grid {
  overflow: auto;
  height: 100%;
  margin: auto;
  width: 70%;
}

.grid__item {
  border: rgba(131,131,131,.46) 0.1rem solid;
  margin: 1rem;
  width: calc(100% / 3 - 1rem - 1rem);
  border-radius: 0.3rem;
  float: left;
}

.profile {

}

.profile1 {
  min-height: 5.5rem;
}

.profile-info {

}

.profile2s {

}

.profile2 {
  padding: 0.5rem;
  border-top: rgba(131,131,131,.46) 0.1rem solid;
}

.profile__subsection {
  float: right;
}

.profile__pic {
  float: left;
  width: 5rem;
  border-radius: 10%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.profile__name {
  margin-bottom: 0;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.profile__username {
  font-size: 15px;
  font-weight: lighter;
  color: rgba(101,100,100,.5);
  margin: 0;
}

.profile__dot-purple {
  display: inline-block;
  height: 0.6rem;
  width: 0.6rem;
  background: rebeccapurple;
  border-radius: 50%;
}
.profile__dot-blue {
  display: inline-block;
  height: 0.6rem;
  width: 0.6rem;
  background: blue;
  border-radius: 50%;
}

.profile__dot-yellow {
  display: inline-block;
  height: 0.6rem;
  width: 0.6rem;
  background: #c8c600;
  border-radius: 50%;
}

.profile__language {
  font-size: 14px;
  display: inline-block;
  margin: 0;
  text-align: right;
}

.profile__repo {
  font-size: 14px;
  display: inline-block;
  margin: 0;
}
