body {
  /*All backgrounds to go edge-to-edge */
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}


.app {

}

.app__nav {
  background: #13c1df;
  color: white;
  height: 3.5rem;
  padding: 1rem;
}

.app__content {
  flex-grow: 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

.top-nav__left {
  margin: 0;

  font-size: 1.2rem;
  font-weight: bold;
}

.nav-list {
  display: flex;
  margin: 0 -0.5rem;

  font-size: 1.2rem;
  font-weight: 300rem;
}

.nav-list__item {
  margin: 0 0.5rem;
}

.nav-list__link {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

.container2 {
  padding: 6rem;
}

.left-text {
  color: white;
  float: left;
}

.right-text {
  color: white;
  float: right;
}

.section {
  background: #ffffff;
}

.grid {
  overflow: auto;
  width: 6.8;
  height: 60vh;
  margin-top: 0.05rem;
  margin-left: 8.5rem;
  /*margin-right: 20rem;*/
  margin-bottom: 0;
}

.grid__item {
  background: white;
  border: rgba(131,131,131,.46) 0.1rem solid;
  margin: 1rem;
  width: calc(100% / 3 - 1rem - 1rem);
  min-width: 15rem;
  height: 25vh;
  border-radius: 0.3rem;
}

.profile {
  background: purple;
  padding: 1rem;
}

.profile-info {
  background: red;
  height: 5rem;
  padding: 0.5rem;
}

.profile-details {
  background: white;
  padding: 0.5rem;
  border-top: rgba(131,131,131,.46) 0.1rem solid;
}

.profile__subsection {
  background: yellow;
  float: right;
}

.profile__pic {
  float: left;
  width: 4rem;
  height: 4rem;
  border-radius: 10%;
  margin-right: 0.5rem;
}

.profile__name {
  margin: 0;
}

.profile__username {
  font-size: 15px;
  color: rgba(101,100,100,.5);
  margin: 0;
}

.profile__dot-purple {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  background: rebeccapurple;
  border-radius: 50%;
}
.profile__dot-blue {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  background: blue;
  border-radius: 50%;
}

.profile__language {
  font-size: 12px;
  display: inline-block;
  margin: 0;
  text-align: right;
}

.profile__repo {
  font-size: 12px;
  display: inline-block;
  margin: 0;
}
